.pro-title{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 26px;
/* or 186% */

letter-spacing: 2px;
text-transform: uppercase;

/* Colors / Heading */

color: #1E0E62;

}

.pro-content{

width: 182px;
height: 104px;
left: 365px;
top: 609px;

/* Text / Paragraph */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Colors / Text */

color: rgba(21, 20, 57, 0.4);

}
.main-head{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 70px;
/* or 121% */

letter-spacing: -1px;
padding:20px;
/* Colors / Heading */

color: #1E0E62;
}
.con{
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
padding:10px;

/* Colors / Text */

color: rgba(21, 20, 57, 0.4);

}

#btn{
  /* Action / Primary */

background: #25DAC5;
border-radius: 100px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */

display: flex;
align-items: center;
text-align: center;
height:60px;
/* Colors / White */

color: #FFFFFF;
}

#btn1{
  border: 2px solid #EBEAED;
border-radius: 100px;
/* Buttons / Small */

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

display: flex;
align-items: center;
text-align: center;

/* Colors / Heading */

color: #1E0E62;

}